# Auto detect text files and perform LF normalization
* text=auto
archive/AUDJPY.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/AUDUSD.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/CHFJPY.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/EURAUD.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/EURCHF.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/EURGBP.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/EURJPY.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/GBPCHF.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/GBPJPY.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/eurusd.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/USDCAD.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/GBPUSD.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/NZDUSD.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/USDCHF.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
archive/USDJPY.csv_m5.csv_candle_classes filter=lfs diff=lfs merge=lfs -text
